*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 15px;
  font-family: Avenir next, Zrnic, Helvetica, sans-serif;
  line-height: 1.5;
  height: 100vh;
  /* overflow: hidden; */
}

.container{
  width:85%;
  margin:auto;
}

header{
  background: #fff;
  color: #000;
  padding-top: 30px;
  min-height: 100px;
}

header a{
  color: #000;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 1em;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float:left;
  display:inline;
  padding: 0 15px 0 10px;
}

header #branding{
  float: left;
}

.logoicon{
  margin-top: -10px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header a:hover{
  color: #58F092;
}

header .current a{
  color:#58F092;
}

#showcase{
  min-height: 700px;
  background: url('../img/showcase1.png') no-repeat 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  margin-left: 50px;
  border-bottom-left-radius: 30px;
}

.show-container{
  width: 50%;
  margin: 0 0 0 40px;
  padding-top: 200px;
  padding-left: -50px;
  color: #fff;
}

.show-container h1{
  font-size: 4.5em;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;
}

.show-container p{
  font-size: 1.5em;
  line-height: 1.2;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.show-logo{
  margin-left: 100px;
}

.btn{
  padding: 10px 50px 10px; 50px;
  background:#58F092;
  color: #fff;
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.4em;
  font-family: Helvetica, roboto, sans-serif;
  text-decoration: none;
  border-radius: 10px 0px 10px 10px;
  transition: all .3s;
}

.btn:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.3);
}

#testimony {
  min-height: 430px;
  background: #DBE2E5;
  margin-top: 50px;
  margin-right: 50px;
  border-top-right-radius: 30px;
}


.heading{
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-right: -40px;
  padding-top: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.card-wrapper{
  display: flex;
  align-items:left;
  align-content: center;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 0 300px 0 300px;

}

.card{
  width: 30%;
  background-color: #ebeef8;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.card .card-img{
  display: flex;
  flex:1;
  width:100%;
  height: 10rem;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-img{
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -5rem;
  z-index: 999;
  border: 5px solid #ebeef8;
}

.card h1{
  font-size: 1.5em;
  font-weight:400;
}

.time{
  color:#777;
  font-size: .9em;
  padding-bottom: 10px;
}


.card .btn1{
  padding: 6px 15px;
  background-color:#58F092;
  border-radius:5px 0px 5px 5px;
  margin-bottom: 2rem;
  text-transform:capitalize;
  text-decoration: none;
  color:#4d9cb9;
  font-size: .8rem;
  transition: all .3s;
}

.card .btn1:hover{
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}

footer{
  width:100%;
  height:100px;
  background: #606c71;
  color:#fff;
  text-align: center;
  font-size: 16px;
}

.footer-text{
  padding-top: 50px;
}

.box-size{
  display: flex;
  width: 200px;
  flex-direction:column;
}

.box-size{
  margin:2rem;
  transition: transform .5s;
}

.card{
   margin: 2rem;
   transition: transform .5s;
 }

 @keyframes fadeIn {
       from{
         opacity: 0;
       }
       to{
         opacity: 1;
       }
 }

 .card:nth-child(1){
   animation: fadeIn .5s .5s backwards;
 }

 .card:nth-child(2){
   animation: fadeIn .5s 1s backwards;
 }

 .card:nth-child(3){
   animation: fadeIn .5s 1.5s backwards;
 }

 .card:nth-child(4){
   animation: fadeIn .5s 2s backwards;
 }

 .card:hover{
   transform:scale(1.15);
 }

}
